.DS_Store
.bundle
.idea
.ruby-version
.Rhistory
faraday.log
*.swp
*.gem
tmp/*
rubocop-results.xml
Gemfile.lock
/spec/bcl/output
/spec/reports
/spec/api/resources/*.receipt
measures/
staged/
.rubocop-https*