.DS_Store
.bundle
.idea
.ruby-version
.Rhistory
faraday.log
gems/
*.swp
*.gem
tmp/*
rubocop-results.xml
.rubocop-http*
Gemfile.lock
/spec/bcl/output
/spec/reports
/spec/api/resources/*.receipt
measures/
staged/
lib/files/staged/
lib/files/downloads/
.rubocop-https*